@import 'tailwindcss';

@theme {
  --color-primary: #1b1b1b;
  --color-primary2: #2b2b2b;
  --color-primary3: #1e1e1e;
  --color-primary4: #c0bbea;
  --color-primary5: #e0ddf4;
  --color-secondary: #2e519c;
  --color-secondary2: #9edba9;
  --color-secondary4: #cfedd4;
  --color-neutral2: #454545;
  --color-neutral3: #747373;
  --color-neutral4: #a2a2a2;
  --color-success: #2dac3e;
  --color-success2: #abdeb1;
  --color-alert: #e1cf36;
  --color-alert2: #fffacb;
  --color-warning: #ff0000;
  --color-warning2: #972929;
  --color-white: #ffffff;
  --color-white2: #fefefd;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0.5rem;
    padding-left: 0.625rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 0.125rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-primary5);
    border-radius: 0.125rem;
  }
}

button,
a {
  &:hover {
    opacity: 0.9;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
html {
  @media (max-width: 1440px) {
    font-size: 93.75%;
  }
}
input,
button,
textarea {
  font-family: inherit;
}
body {
  text-rendering: optimizeLegibility;
}
button {
  cursor: pointer;
}
